<div class="form-wrapper">
  <form (submit)="submitForm()">

    <mat-form-field class="example-full-width">
      <mat-label>Primeiro Nome</mat-label>
      <input name="firstName" id="firstName" class="userFirstname" [(ngModel)]="firstName" matInput
        placeholder="Primeiro Nome">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Sobrenome</mat-label>
      <input name="lastName" id="lastName" class="userLasttname" [(ngModel)]="lastName" matInput
        placeholder="Sobrenome">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Número Telefone</mat-label>
      <input name="phoneNumber" id="phoneNumber" class="userPhone" [(ngModel)]="phoneNumber" matInput
        placeholder="Numero Telefone">
    </mat-form-field>



    <div>
      <input type="submit" value="Enviar" class="submitButton">
    </div>

  </form>
  <mat-divider></mat-divider>



  <mat-list role="list">
    <h2>Lista de Contato</h2>
    <mat-list-item *ngFor="let contact of contactList" role="listitem">{{ contact.lastName }}, {{ contact.firstName }} -
      {{ contact.phoneNumber }}</mat-list-item>
  </mat-list>
</div>